*{
  box-sizing: border-box;
}
body{
  width: 100%;
  height: 2000px;
  color: black;
  font-family: "Quicksand";
  /*background-color: #E3E5E7;*/
}
div{
  margin: 0 auto;
}
.jumbotron{
  width: 100%;
  margin: 0 auto;
  font-size: 20px;
  padding-bottom: 250px;
  background-color: rgba(0,0,0,0.05);
  background-image: url("images/chip.jpg");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
.container{
  width: 100%;

}
.projects{

}
.heading{
  width: 50%;
  margin: 0 auto;
}
nav{
  margin: 0 auto;
}
p{
  text-align: left;
}
h1{
  margin-top: 180px;
  text-align: left;
  font-family: 'Overlock';
  text-shadow:2px 2px rgba(0,0,0,0.09);

}
.sub-headers{
  font-size: 52px;
  margin-top: 20px;
  font-family: 'Overlock';
  text-align: center;
}
ul{
  list-style-type: none;
  text-align: left;
  margin: 0 auto;
}
li{
  display: inline;
  text-align: center;
  margin: 0 auto;
  margin: 10px;
}
.btn{
  /*background-color: rgba(55, 174, 153, 0.75);
  /*background-color: rgba(61, 174, 153, 0.89);*/
  background-color: rgba(255,255,255, 1.0);
  color: black;
  font-size: 15px;
}
.row{
  width: 100%;
}
.main{
  padding-bottom: 800px;
  height: 800px;
  width: 100%;
  text-align: center;
}
.col-md-12{
  margin-top: 400px;
  text-align: center;
}
.col-md-12 h2{
  font-size: 50px;
}
.col-md-12 h3{
  font-size: 35px;
}
.top-nav{
  position: fixed;
  background-color: rgba(0,0,0,0.8);
  width: 100%;
  margin: 0 auto;
  z-index: 100;
}
.top-nav a{
  margin-right: 10px;
  color: white;
}
.icon-list{
  position: relative;
  text-align: right;
  margin: 0 auto;
}
.icons{
  font-size: 40px;
}
.col-md-6{
  margin-top: 30px;
  text-align: center;
  margin-bottom: 40px;
}
.thumbnail{
  width: 70%;
  margin-left: 20px;
  -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
  -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
  box-shadow:0 0 20px rgba(0,0,0,0.8);
  margin: 0 auto;
  text-align: center;
  height: 300px;
}
.thumbnail img{
  height: 290px;
}
h3{
  font-weight: bolder;
  font-size: 25px;
  margin-bottom: 10px;
}
.caption{
  position: absolute;
  bottom: 0;
  margin: 0;
  /*margin-left: 5px;*/
  background-color: rgba(0,0,0,0.9);
  width: 65%;
  display: none;
  /*margin-top: -150px;
  padding-top: 200px;*/
  z-index: 100;
  height: 296px;
}
.caption p{
  font-weight: bolder;
  font-family: 'Overlock';
  font-size: 22px;
  color: white;
  text-align: left;
}
.caption i{
  font-size: 30px;
  margin: 10px;
  color: white;
  text-align: left;
}
.caption i:hover{
  color: lemonchiffon;
}
img{
  width: 100%;
  transform: scale(1,1);
}
#me{
  width: 55%;
  border-radius: 5%;
  border: 5px solid rgba(255,255,255,0.7);
  text-align: right;
  margin-bottom: 40px;
  margin-right: 40px;
}
.about{
  background-color: rgba(0,0,0,0.1);
  padding-bottom: 50px;
}
.project-btn{
  background-color: white;
  color: black;
  font-size: 15px;
  margin-left: 20px;
  margin-top: 15px;
  width: 25%
}
.home-logo{
  font-family: "Dancing Script";
}
ul{
  margin: 0 auto;
  text-align: center;
}
.about-info{
  line-height: 2em;
  margin: 0 auto;
  font-size: 18px;
  font-family: 'Overlock';
  text-align: left;
}
.about-info h4{
  font-weight: bolder;
  display: inline;
}
.about-info h3{
  font-weight: bolder;
  font-size: 22px;
  padding-top: 30px;
}
.about-info p{
  margin-top: 20px;
}
.about-subheaders{
  color: black;
  font-family: "Quicksand";
  font-weight: bolder;
  font-size: 20px;
  background-color: inherit;
}
.about-subheaders:hover{
  text-decoration: underline;
}
.Skills, .Experience{
  display: none;
}
.company-and-dates{
  margin-left: 40px;
}
.contact-div{
  background-color: rgba(0,0,0,1.0);
  color: white;
  padding-bottom: 400px;
}
.ga{
  margin-right: 20px;
}
.footer-list button{
  display: inline;
  color: black;
  width: 15%;
  font-weight: bolder;
  height: 100px;
  font-size: 25px;
}
.footer-list button:hover{
  background-color: lemonchiffon;
  color: black;
}
.contact-links{
  margin-top: 100px;
}
